$primary-text-color: #757575;
$secondary-text-color: #000000;
$tretiary-text-color: #ffffff;
$title-text-color: #212121;
$accent-color: #2196f3;
$primary-bg-color: #ffffff;
$secondary-bg-color: #f5f4fa;
$footer-bg-color: #2f303a;

$portfolio-overlay: rgba(33, 150, 243, 0.9);

$transition-duration: 250ms;

$font-logo: Raleway, sans-serif;
$font-general: Roboto, sans-serif;

$advantages-icons: 'first', 'second', 'third', 'fourth';