.button-list button {
	transition: color $transition-duration cubic-bezier(0.4, 0, 0.2, 1);

	padding: 6px 22px;
	border: 1px solid transparent;
	border-radius: 4px;

	background-color: #f5f4fa;

	color: $title-text-color;

	font-family: $font-general;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.62;
    letter-spacing: 0.03em;
    
    &:hover,
    &:focus,
    &:active {
        background-color: $accent-color;
    
        color: $tretiary-text-color;

        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    
        cursor: pointer;
    }
}

.button-list {
    @media screen and (max-width: 767px){
        display: flex;
        flex-wrap: wrap;
    }
}

.button{
    &-list {
        @include for-size(tablet-landscape) {
            justify-content: center;
        }
    }

    &-item:not(:last-child) {
        margin-right: 8px;
    }

    &-item:not(:nth-last-child(-n + 2)){
        @media screen and (max-width: 767px){
            margin-bottom: 15px;
        }
    }
}

.projects-list{
    margin-top: 50px;

    & a{
        text-decoration: none;
    }

    & .title {
        color: $title-text-color;
    
        font-family: $font-general;
        font-weight: 700;
        font-size: 18px;
        line-height: 2;
        letter-spacing: 0.06em;
    }

    & .description {
        margin: 0;
    
        color: $tretiary-text-color;
    
        font-family: $font-general;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.56;
        letter-spacing: 0.03em;
    }

    @include for-size(tablet-landscape) {
        flex-wrap: wrap;
    }
}

.project-item {
    
    &:hover,
    &:focus{
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    
        cursor: pointer;
    }

    @include for-size(tablet-landscape) {
        width: calc((100% - 30px) / 2);
    }

    &:not(:nth-child(2n)) {
        @media screen and (min-width: 768px) and (max-width: 1199px){
            margin-right: 30px;
        }
    }

    &:not(:nth-child(-n + 2)) {
        @media screen and (min-width: 768px) and (max-width: 1199px){
            margin-top: 30px;
        }
    }

    @include for-size(desktop) {
        width: calc((100% - 2 * 30px) / 3);
        margin: 0;
    }

    &:not(:nth-child(3n)) {
        @include for-size(desktop) {
            margin-right: 30px;
        }
    }

    &:not(:nth-child(-n + 3)) {
        @include for-size(desktop) {
            margin-top: 30px;
        }
    }
}

.project{
    &-thumb{
        position: relative;
        overflow: hidden;
    }

    &-type {
        color: $primary-text-color;
    
        font-family: $font-general;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
    }
}

.project-overlay{
	position: absolute;

	top: 0;
	left: 0;

	width: 100%;
	height: 100%;

	padding-top: 63px;
	padding-right: 24px;
	padding-bottom: 63px;
	padding-left: 24px;

	background-color: $portfolio-overlay;

	transform: translateY(100%);
    transition: transform $transition-duration cubic-bezier(0.4, 0, 0.2, 1);
    
    .project-item:hover &,
    .project-item:focus &{

        transform: translateY(0);
    }
}

.project-card {
	padding-top: 20px;
	padding-right: 24px;
	padding-bottom: 20px;
	padding-left: 24px;

	
	border: 1px solid #EEEEEE;
    border-top: none;
    
    & .title,
    & .project-type {
        margin: 0;
    }

    & .project-type {
        margin-top: 4px;
    }
}