.advantages .container {
    @include for-size(desktop) {
		padding-bottom: 0;
	}
}

.advantages-list{
    & .secondary-title {
        color: $title-text-color;
    
        font-family: $font-general;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        letter-spacing: 0.03em;
        text-transform: uppercase;
    }

    & p {
        margin-top: 10px;
        margin-bottom: 0;
    
        font-family: $font-general;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
    }

    @include for-size(tablet-landscape) {
		flex-wrap: wrap;
	}

	@include for-size(desktop) {
		flex-wrap: nowrap;
	}
}

.advantages-item {
    
    &:not(:last-child) {
        margin-bottom: 30px;

        @include for-size(tablet-landscape) {
            margin-bottom: 0;
        }
    }

    &::before{
        content: "";
        display: block;
        background-color: $secondary-bg-color;
        
        height: 120px;
    
        background-repeat: no-repeat;
        background-position: center;
    }

    @include for-size(tablet-landscape) {
		width: calc((100% - 30px) / 2);
	}

	@include for-size(desktop) {
		width: calc((100% - 30px * 3) / 4);
	}
    
    &:not(:nth-child(2n)) {
        @include for-size(tablet-landscape) {
            margin-right: 30px;
        }
    }

    &:nth-child(-n + 2) {
        @include for-size(tablet-landscape) {
            margin-bottom: 30px;
        }
    }

    &:not(:last-child){
        @include for-size(desktop) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    }
}

@each $advantageNumber in $advantages-icons {
    .advantages-item.#{$advantageNumber}::before{
        background-image: url(../images/advantages/#{$advantageNumber}.svg);
    }
}