.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 30px;
	// margin-top: 50px;
    text-decoration: none; 
    
    & a:hover,
    & a:focus {
        color: $accent-color;
    }
}

.clients-item {
    width: calc((100% - 30px) / 2);
    
	text-align: center;
    height: 90px;

    &:not(:nth-last-child(-n + 2)){
        margin-bottom: 30px;

        @include for-size(tablet-landscape) {
            margin-bottom: 0;
        }
    }

    @include for-size(tablet-landscape) {
		width: calc((100% - 2* 30px) / 3);
	}

	@include for-size(desktop) {
		width: calc((100% - 5 * 30px) / 6);
	}

    &:not(:nth-child(3n)) {
        @include for-size(tablet-landscape) {
            margin-right: 30px;
        }
    }

    &:nth-child(-n + 3) {
        @include for-size(tablet-landscape) {
            margin-bottom: 30px;
        }
    }

    &:not(:last-child){
        @include for-size(desktop) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    }
}

.client-item-link{
	display: inline-flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 90px;

	border: 1px solid #AFB1B8;
    border-radius: 4px;
    
    &:hover,
    &:focus{
        border: 1px solid $accent-color;
    }
}

.client-logo{
	fill: #AFB1B8;

    transition: border $transition-duration cubic-bezier(0.4, 0, 0.2, 1), fill $transition-duration cubic-bezier(0.4, 0, 0.2, 1);
    
    .client-item-link:hover &,
    .client-item-link:focus &{
        fill: $accent-color;
    }
}