section{
    &.team {
        background-color: $secondary-bg-color;
    }
}

.team{
    & div.networks {
        margin-top: 16px;
    }

    &-member {
        padding-top: 30px;
        padding-right: 32px;
        padding-bottom: 24px;
        padding-left: 32px;
    
        background-color: $primary-bg-color;
        border-radius: 0px 0px 4px 4px;
    }
}

.team-list{
    margin-top: 30px;

    @include for-size(desktop) {
        margin-top: 50px;
    }

    &.flexbox {
        flex-wrap: wrap;
    }
    
    & .secondary-title {
        margin: 0;

        color: $title-text-color;
    
        font-family: $font-general;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: center;
    }

    & p {
        margin-top: 10px;
        margin-bottom: 0;
    
        font-family: $font-general;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.19;
        letter-spacing: 0.03em;
        text-align: center;
    }
}

.team-list .item {
    // width: calc((100% - 30px * 3) / 4);
    
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    
    // &:not(:nth-child(4n)) {
    //     margin-right: 30px;
    // }

    // &:not(:nth-child(-n + 4)) {
    //     margin-top: 30px;
    // }

    &:not(:last-child){
        margin-bottom: 20px;

        @include for-size(tablet-landscape) {
            margin-bottom: 0;
        }
    }

    @include for-size(tablet-landscape) {
		width: calc((100% - 30px) / 2);
	}

	@include for-size(desktop) {
		width: calc((100% - 30px * 3) / 4);
	}
    
    &:not(:nth-child(2n)) {
        @include for-size(tablet-landscape) {
            margin-right: 30px;
        }
    }

    &:nth-child(-n + 2) {
        @include for-size(tablet-landscape) {
            margin-bottom: 30px;
        }
    }

    &:not(:last-child){
        @include for-size(desktop) {
            margin-bottom: 0;
            margin-right: 30px;
        }
    }
}